macro_ctrl_shift_x: macro_ctrl_shift_x{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_shift_x";
#binding-cells = <0>;
bindings = <&sk LCTRL>, <&sk LEFT_SHIFT>, <&kp X>;
};
macro_ctrl_i: macro_ctrl_i{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_i";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp I>;
};
macro_ctrl_comma: macro_ctrl_comma{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_comma";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp COMMA>;
};
macro_ctrl_a: macro_ctrl_a{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_a";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp A>;
};
macro_ctrl_shift_t: macro_ctrl_shift_t{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_shift_t";
#binding-cells = <0>;
bindings = <&sk LCTRL>, <&sk LEFT_SHIFT>, <&kp T>;
};
macro_ctrl_t: macro_ctrl_t{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_t";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp T>;
};
macro_ctrl_n: macro_ctrl_n{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_n";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp N>;
};
macro_ctrl_o: macro_ctrl_o{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_o";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp O>;
};
macro_ctrl_s: macro_ctrl_s{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_s";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp S>;
};
macro_ctrl_g: macro_ctrl_g{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_g";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp G>;
};
macro_ctrl_d: macro_ctrl_d{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_d";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp D>;
};
macro_ctrl_z: macro_ctrl_z{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_z";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp Z>;
};
macro_ctrl_y: macro_ctrl_y{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_y";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp Y>;
};
macro_ctrl_x: macro_ctrl_x{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_x";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp X>;
};
macro_ctrl_v: macro_ctrl_v{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_v";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp V>;
};
macro_ctrl_c: macro_ctrl_c{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_c";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp C>;
};
macro_ableton_kb: macro_ableton_kb{
compatible = "zmk,behavior-macro";
label = "macro_ableton_kb";
#binding-cells = <0>;
bindings = <&tog 8>, <&tog 9>;
};
macro_ableton_return: macro_ableton_return{
compatible = "zmk,behavior-macro";
label = "macro_ableton_return";
#binding-cells = <0>;
bindings = <&kp ENTER>, <&tog 9>, <&tog 8>;
};
macro_ableton_search: macro_ableton_search{
compatible = "zmk,behavior-macro";
label = "macro_ableton_search";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp F>, <&tog 8>, <&tog 9>;
};
macro_ableton_rename: macro_ableton_rename{
compatible = "zmk,behavior-macro";
label = "macro_ableton_rename";
#binding-cells = <0>;
bindings = <&kp LCTRL>, <&kp R>, <&tog 8>, <&tog 9>;
};
macro_crtl_shft_tab: macro_crtl_shft_tab{
compatible = "zmk,behavior-macro";
label = "macro_crtl_shft_tab";
#binding-cells = <0>;
bindings = <&sk LCTRL>, <&sk LSHIFT>, <&kp TAB>;
};
macro_ctrl_tab: macro_ctrl_tab{
compatible = "zmk,behavior-macro";
label = "macro_ctrl_tab";
#binding-cells = <0>;
bindings = <&sk LCTRL>, <&kp TAB>;
};
macro_cmd_tab: macro_cmd_tab{
compatible = "zmk,behavior-macro";
label = "macro_cmd_tab";
#binding-cells = <0>;
bindings = <&kp LCMD>, <&kp TAB>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};